---
layout: layouts/home.njk
tags:
  - nav
navtitle: Главная
---

<h1>Три свежих записи</h1>

{% set postslist = collections.posts | head(-3) %}
{% include "postslist.njk" %}

<p>Остальное - в <a href="{{ '/posts/' | url }}">архиве</a>.</p>
